<div class="inicio-descripcion-recuadro">
    <p class="inicio-featured-title-a"><strong>{{datos.titulo}}</strong></p>
    <p class="inicio-recuadro-text" ng-repeat-start="item in datos.contenido">
        <strong>{{item.titulo}}</strong>
    </p>
    <p class="inicio-recuadro-text" ng-if="item.isLink">
        <a href="{{item.descripcion}}" target="_top">{{item.descripcion}}</a>
    </p>
    <p class="inicio-recuadro-text" ng-if="!item.isLink" ng-bind-html="item.descripcion"></p>
    <br ng-repeat-end>
    <a class="inicio-featured-link-a" href="{{datos.link}}">&raquo;{{datos.linktext}}</a>
</div>