<okuee-header-a datos='datosHeader'></okuee-header-a>
<div class="row interior-subtitle-container">
    <p class="okuee-interior-subtitle">
        {{subtitle}}
    </p>
    <hr>
</div>
<div class="inicio-contenido">
    <div class="row inicio-descripcion-contacto">
        <div class="col-md-8">
            <div class="contacto-formulario">
                <form ng-submit="submit()">
                    <div class="form-group">
                        <label for="Nombre">NOMBRE</label>
                        <input type="text" class="form-control" ng-class="{'has-error': form.nombre.$invalid}" id="nombre" ng-model="modelo.nombre" required>
                    </div>
                    <div class="form-group">
                        <label for="email">EMAIL</label>
                        <input type="email" class="form-control" ng-class="{'has-error': form.nombre.$invalid}" id="email" ng-model="modelo.email" required>
                    </div>
                    <div class="form-group">
                        <label for="Nombre">TEL&Eacute;FONO</label>
                        <input type="text" class="form-control" ng-class="{'has-error': form.nombre.$invalid}" id="telefono" ng-model="modelo.telefono">
                    </div>
                    <div class="form-group">
                        <label for="Nombre">ASUNTO</label>
                        <input type="text" class="form-control" ng-class="{'has-error': form.nombre.$invalid}" id="asunto" ng-model="modelo.asunto">
                    </div>
                    <div class="form-group">
                        <label for="Nombre">MENSAJE</label>
                        <textarea class="form-control" rows="8" ng-class="{'has-error': form.nombre.$invalid}" id="mensaje" ng-model="modelo.mensaje" required></textarea>
                    </div>
                    <uib-alert ng-repeat="alert in alerts" type="{{alert.type}}" close="closeAlert($index)">{{alert.msg}}</uib-alert>
                    <div class="form-group">
                        <div vc-recaptcha theme="'light'" key="model.key" on-create="setWidgetId(widgetId)" on-success="setResponse(response)"></div>
                    </div>
                    <div class="form-group contacto-form">
                        <button type="submit" class="btn btn-primary btn-lg contacto-form-button pull-right contacto-form-button-margin" ng-disabled="form.$invalid || form.$pristine || cargando" ladda="cargando" data-style="expand-left">ENVIAR</button>
                        <button type="button" class="btn btn-primary btn-lg contacto-form-button pull-right" ng-disabled="form.$pristine || cargando"  ng- click="borrar()">BORRAR</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-4">
            <okuee-recuadro-contacto datos="datosRecuadro"></okuee-recuadro-contacto>
        </div>
    </div>
    <span12>
        <div map-lazy-load="https://maps.google.com/maps/api/js">
            <ng-map center="19.309530,-99.603217" zoom="11" class='okuee-map'>
                <!--<marker position="Fuente de Los Cibeles, Delegación San Mateo Otzacatipan, 50200 Toluca de Lerdo, Méx."></marker>-->
                <marker position="19.309530,-99.603217"></marker>
            </ng-map>
        </div>
    </span12>
</div>