<okuee-header-a datos='datosHeader'></okuee-header-a>
<div class="row interior-subtitle-container">
    <p class="okuee-interior-subtitle">
        {{subtitle}}
    </p>
    <hr>
</div>
<div class="inicio-contenido">
    <div class="row inicio-descripcion-contacto">
        <div class="col-md-8">
            <form>
                <div class="form-group">
                    <label for="Nombre">NOMBRE</label>
                    <input type="text" class="form-control" id="nombre">
                </div>
                <div class="form-group">
                    <label for="email">EMAIL</label>
                    <input type="email" class="form-control" id="email">
                </div>
                <div class="form-group">
                    <label for="Nombre">TEL&Eacute;FONO</label>
                    <input type="text" class="form-control" id="telefono">
                </div>
                <div class="form-group">
                    <label for="Nombre">ASUNTO</label>
                    <input type="text" class="form-control" id="asunto">
                </div>
                <div class="form-group">
                    <label for="Nombre">MENSAJE</label>
                    <textarea class="form-control" rows="8" id="mensaje"></textarea>
                </div>
                <button type="submit" class="btn btn-default btn-lg pull-right contacto-form-button contacto-form-button-margin">ENVIAR</button>
                <button type="button" class="btn btn-default btn-lg pull-right contacto-form-button">BORRAR</button>
            </form>
        </div>
        <div class="col-md-4">
            <okuee-recuadro-contacto datos="datosRecuadro"></okuee-recuadro-contacto>
        </div>
    </div>
    <span12>
        <div map-lazy-load="https://maps.google.com/maps/api/js">
            <ng-map center="19.309530,-99.603217" zoom="11" class='okuee-map'>
                <!--<marker position="Fuente de Los Cibeles, Delegación San Mateo Otzacatipan, 50200 Toluca de Lerdo, Méx."></marker>-->
                <marker position="19.309530,-99.603217"></marker>
            </ng-map>
        </div>
    </span12>
</div>