<div class="row interior-subtitle-container">
    <p class="okuee-interior-subtitle">
        {{datos.subtitle}}
    </p>
    <hr>
</div>

<div class="row">
    <div class="col-md-8">
        <p class="okuee-p-text1">
            {{datos.description}}
        </p>
    </div>
    <div class="col-md-4">
       <img src={{datos.image}} class="img-responsive"/>
    </div>
</div>

<div class="row">
    <div class="col-md-8">
        <p class="okuee-section-title">
            {{datos.title1}} <strong>{{datos.title2}}</strong>
        </p>

        <p ng-repeat="renglon in datos.renglones" class='okuee-p-text'>
            <strong>{{renglon.title}}</strong>{{renglon.content}}
        </p>
    </div>

    <div ng-if="datos.imageGraph" class="span12 okuee-image-container">
        <div class="col-md-8">
            <img src={{datos.imageGraph}} class="img-responsive"/>
        </div>
    </div>
</div>