<okuee-header-a datos='datosHeader'></okuee-header-a>
<div class="inicio-contenido">
    <okuee-text-intro contenido='datosIntro'></okuee-text-intro>
    <div class="row inicio-divisiones">
        <okuee-header-a datos='headerFeatDivisiones'></okuee-header-a>
        <div class="row">
            <div ng-repeat="feature in featuredDivisiones.features">
                <okuee-feature-a contenido="feature"></okuee-feature-a>
            </div>
        </div>
    </div>
    <div class="row inicio-procesos">
        <okuee-header-b datos='headerFeatProcesos'></okuee-header-b>
        <div class="row">
            <div ng-repeat="feature in featuredProcesosA.features">
                <okuee-feature-b contenido="feature"></okuee-feature-b>
            </div>
        </div>
        <div class="row">
            <div ng-repeat="feature in featuredProcesosB.features">
                <okuee-feature-b contenido="feature"></okuee-feature-b>
            </div>
        </div>
    </div>
</div>