<okuee-header datos='datosHeader'></okuee-header>
<div class="inicio-contenido">
    <okuee-descripcion contenido='datosIntro'></okuee-descripcion>
    <div class="row inicio-divisiones">
        <okuee-header datos='headerFeatDivisiones'></okuee-header>
        <div class="row">
            <div ng-repeat="feature in featuredDivisiones.features">
                <okuee-feature contenido="feature"></okuee-feature>
            </div>
        </div>
        <okuee-header datos='headerFeatDivisiones'></okuee-header>
        <div class="row">
            <div ng-repeat="feature in featuredProcesos.features">
                <okuee-feature contenido="feature"></okuee-feature>
            </div>
        </div>
        <div class="row">
            <div ng-repeat="feature in featuredProcesos.features">
                <okuee-feature contenido="feature"></okuee-feature>
            </div>
        </div>
    </div>
</div>