<okuee-header datos='datosHeader'></okuee-header>
<div class="inicio-contenido">
    <div class="row inicio-descripcion">
        <div class="col-md-8">
            <p class="okuee-p-text1">
                Somos una factoría química mexicana que lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur
            </p>
        </div>
        <div class="col-md-4 inicio-descripcion-recuadro">
            <p class="inicio-featured-title"><strong>Contacta con o'kuee</strong></p>
            <p class="inicio-recuadro-text">
                <strong>PLANTA</strong><br>
                FACTORIA QUIMICA OKUEE, S.A. DE C.V
            <p class="inicio-recuadro-text">
                <strong>DIRECCI&Oacute;N</strong><br>
                FUENTE CIBELES No. 117<br>
                COLONIA LAS FUENTES IND. TOLUCA,EDO. DE M&Eacute;XICO<br>
                C.P.50228
            </p>
            <p class="inicio-recuadro-text">
                <strong>POR TEL&Eacute;FONO</strong><br>
                (01722) 582 4885 Y (01722) 590 8631<br>
            </p>
            <p class="inicio-recuadro-text">
                <strong>POR MAIL</strong><br>
                info@okuee.com
            </p>
            <a class="inicio-featured-link" href="#/industria/textil">&raquo;Escr&iacute;benos en nuestro formulario de contacto</a>
        </div>
    </div>
    <div class="row inicio-divisiones">
        <div class="row inicio-featured-header">
            <p class="okuee-title">
                divisiones <strong>qu&iacute;micas</strong>
            </p>

            <p class="okuee-subtitle">
                atendemos a las necesidades de la industria
            </p>
        </div>
        <div class="row">
            <div class="col-md-4">
                <img src="resources/featured04.jpg" class="img-responsive"/>
            </div>
            <div class="col-md-4">
                <img src="resources/featured05.jpg" class="img-responsive"/>
            </div>
            <div class="col-md-4">
                <img src="resources/featured06.jpg" class="img-responsive"/>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <p class="inicio-featured-title">Textil</p>
                <p class="inicio-featured-text">lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <a class="inicio-featured-link" href="#/industria/textil">leer m&aacute;s</a>
            </div>
            <div class="col-md-4">
                <p class="inicio-featured-title">Institucional</p>
                <p class="inicio-featured-text">lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <a class="inicio-featured-link" href="#/industria/institucional">leer m&aacute;s</a>
            </div>
            <div class="col-md-4">
                <p class="inicio-featured-title">Qu&iacute;micos</p>
                <p class="inicio-featured-text">lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <a class="inicio-featured-link" href="#/industria/quimicos">leer m&aacute;s</a>
            </div>
        </div>
    </div>
</div>