.inicio-contenido {
    font-family: 'Montserrat';
}

.inicio-descripcion {
    padding-top: 71px;
    padding-bottom: 66px;
    /*margin-right: 0px;*/
}

.inicio-descripcion-contacto {
    padding-bottom: 66px;
    /*margin-right: 0px;*/
}

.inicio-descripcion-recuadro {
    /*height: 250px;*/
    background-color: #ebebeb;
    padding-left: 5px;
    padding-bottom: 20px;
    line-height: 14px;
}

.inicio-recuadro-text {
    line-height: 14px;
    color: #363636;
    font-size: 12px;
    margin-bottom: 0px;
}

.inicio-quienes-somos {
    padding-top: 71px;
    padding-bottom: 66px;
}

.inicio-divisiones {
    background-color: #ebebeb;
    padding-left: 15px;
    margin-left: -15px;
    padding-right: 15px;
    margin-right: -15px;
}

.inicio-procesos {
    padding-top: 50px;
    padding-left: 15px;
    margin-left: -15px;
    padding-right: 15px;
    margin-right: -15px;
}

.inicio-featured-content {
    padding-bottom: 25px;
}

/*.inicio-featured-content {
    padding-bottom: 25px;
}*/

.inicio-featured-content-background-b {
    background-color: #6aab35;
    padding-bottom: 25px;
}

.inicio-featured-header {
    padding-bottom: 25px;
}

.inicio-featured-title-a {
    padding-top: 20px;
    text-transform: uppercase;
    color: #105677;
    font-size: 18px;
    margin-right: 15px;
}

.inicio-featured-title-b {
    padding-top: 20px;
    text-transform: uppercase;
    color: #fff;
    font-size: 18px;
    margin-right: 15px;
}

.inicio-featured-text-a {
    text-align: justify;
    line-height: 22px;
    color: #363636;
    font-size: 12px;
    margin-right: 15px;
}

.inicio-featured-text-b {
    text-align: justify;
    line-height: 22px;
    color: #fff;
    font-size: 12px;
    margin-right: 15px;
}

.inicio-featured-link-a {
    padding-top: 20px;
    padding-left: 10px;
    text-transform: uppercase;
    font-weight: bold;
    color: #6aab35;
    font-size: 11px;
}

.inicio-featured-link-b {
    padding-top: 20px;
    padding-left: 10px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    font-size: 11px;
}

.contacto-formulario {
    padding-left: 15px;
}

.contacto-form-button {
    padding: 12px 35px 12px 35px;
    border-radius: 0px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    background-color: #6aab35;
    color: #fff;
}

.contacto-form-button-margin { 
    margin-left: 15px;
}

.btn-primary {
    color: #fff;
    background-color: #6aab35;
    border-color: #6aab35;
}

.btn-primary:focus,
.btn-primary.focus {
    color: #fff;
    background-color: #286090;
    border-color: #122b40;
}
.btn-primary:hover {
    color: #fff;
    background-color: #6aab35;
    border-color: #6aab35;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #6aab35;
    border-color: #6aab35;
}

.btn-primary:active:hover,
.btn-primary.active:hover,
.open > .dropdown-toggle.btn-primary:hover,
.btn-primary:active:focus,
.btn-primary.active:focus,
.open > .dropdown-toggle.btn-primary:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.open > .dropdown-toggle.btn-primary.focus {
    color: #fff;
    background-color: #6aab35;
    border-color: #6aab35;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #6aab35;
    border-color: #6aab35;
}

.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus {
    color: #fff;
    background-color: #6aab35;
    border-color: #6aab35;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active {
    color: #fff;
    background-color: #6aab35;
    border-color: #6aab35;
}

.btn-primary .badge {
    color: #fff;
    background-color: #6aab35;
    border-color: #6aab35;
}