/**
Container para los titulos de los cosos
**/
.interior-container-a {
    background-color: #ebebeb;
    padding-top: 26px;
    padding-bottom: 20px;
}

.interior-container-b {
    background-color: #fff;
    padding-top: 26px;
    padding-bottom: 20px;
}

/**
Titulo
**/
.okuee-title {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Montserrat';
    color: #105677;
    font-size: 34px;  
}

/**
sub-Titulo
**/
.okuee-subtitle {
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Montserrat';
    color: #555555;
    font-size: 19px;
    letter-spacing: 5px;
}

.interior-subtitle-container {
    padding-top: 19px;
    padding-bottom: 12px;
    padding-left: 15px;
    padding-right: 15px;
}

/* subtitulo en el contenido interior*/
.okuee-interior-subtitle {
    text-transform: uppercase;
    font-family: 'Montserrat';
    color: #959595;
    font-size: 14px;    
}

/*Titulo de las secciones*/
.okuee-section-title {
    text-align: left;
    text-transform: uppercase;
    font-family: 'Montserrat';
    color: #105677;
    font-size: 18px;  
}

/*div de contenido*/
.okuee-content-div {
    height: 250px;
    padding-right: 15px;
    background-color: #ebebeb;
}

/* descripciones de los procesos*/
.okuee-p-text{
    font-family: 'Montserrat';
    color: #111111;
    font-size: 12px;
    line-height: 22px;
    text-align: justify;
}

/* descripcion de procesos primera parte*/
.okuee-p-text1{
    font-family: 'Montserrat';
    color: #363636;
    font-size: 18px;
    line-height: 34px;
    text-align: justify;
}

/* descripcion inicial del parrafo */
.okuee-initial-p-text{
    font-weight: bold;
}

/* contenedor de imagenes para que de el tamanyo */
.okuee-image-container {
    padding-left: 10px;
}

.okuee-footer-line {
        margin-top: 100px;
        height: 100px;
        background-color: #105677;
}



.okuee-img-footer {
    padding-top: 20px;
}

@media (min-width: 500px) {
    .okuee-footer {
        padding-top: 30px;
        font-weight: bold;
        font-family: 'Montserrat';
        text-transform: uppercase;
        color: #fff;
        font-size: 10px;
        text-align: left;
    }

    .okuee-footer-mail {

        font-family: 'Montserrat';
        color: #fff;
        font-size: 10px;
        text-align: left;
    }
}

@media (max-width: 499px) {
    .okuee-footer {
    padding-top: 30px;
    font-weight: bold;
    font-family: 'Montserrat';
    text-transform: uppercase;
    color: #fff;
    font-size: 8px;
    text-align: left;
    }

    .okuee-footer-mail {
        font-family: 'Montserrat';
        color: #fff;
        font-size: 8px;
        text-align: left;
    }
    
}


