body {
  padding-top: 60px;
  overflow-y: scroll;
}
/* navbar */
.navbar {
    background-color: #FFF;
}

.navbar-default {
    background-color: #FFF;
}

/* link */
.navbar-default .navbar-nav > li > a {
    color: #000;
    height: 84px;
    width: 133px;
    text-transform: uppercase;
    /*font-weight: bold;*/
    font-family: 'Montserrat';
    padding-top: 52px;
    text-align: center;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: #000;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #FFF;
    background-color: #6aab35;
}
.navbar-default .navbar-nav > .open > a, 
.navbar-default .navbar-nav > .open > a:hover, 
.navbar-default .navbar-nav > .open > a:focus {
    color: #000;
    background-color: #EEE;
}

.navbar-inverse {
    border-bottom-color: #105677;
    border-bottom-width: 0px;
}

.container-header {
    height: 84px;
}

.okuee-nav {
    padding-top: 50px;
}

.okuee-logo {
    padding-top: 8px;
}